h1 {

    font-family: 'Times New Roman', Times, serif;
    margin: opx;
    padding: 15px;
    border: 1px black dotted;
    width: 100%;
    background-color: cornflowerblue;
    
}

.pie_pagina {

    border: 2px black solid;
    margin: opx;
    padding: 0px;
    width: 80%;
    background-color: chocolate;
}